<ion-header>
  <ion-toolbar>
    <ion-title>HOME</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-card>
    <ion-card-header>
      <ion-card-title>FIQUE POR DENTRO DAS NOVIDADES AQUI!</ion-card-title>
    </ion-card-header>
  
  </ion-card>
  
  <p></p>

 <ion-card>
  <ion-card-header>
    <ion-card-title>Desconto nos dias 20 á 29 em agosto!</ion-card-title>
    <ion-card-subtitle>Toda linha Nike com 20% de desconto, fique por dentro e não perca nossos eventos!!</ion-card-subtitle>
    <ion-button>Vá para linha Nike</ion-button>
  </ion-card-header>

</ion-card>

<p></p>
   
<ion-card>
  <ion-card-header>
    <ion-card-title>Desconto em toda Linha Zara</ion-card-title>
    <ion-card-subtitle>Toda linha Zara com 40% de desconto, não perca nossas promoções fique por dentro.</ion-card-subtitle>
    <ion-button>Vá para linha Zara</ion-button>
  </ion-card-header>

</ion-card>
 
<p></p>

<ion-card>
  <ion-card-header>
    <ion-card-title>Retire seu Cupom de desconto!</ion-card-title>
    <ion-card-subtitle>Retire aqui seu cupom de desconto, que pode ser usado em qualquer linha de roupa do nosso site! clique a baixo para retirada.</ion-card-subtitle>
    <ion-button>Retire o Cupom</ion-button>
  </ion-card-header>

</ion-card>

<p> </p>
   
<ion-card>
  <ion-card-header>
    <ion-card-title>Fique por dentro das novidades do nosso App e receba descontos!</ion-card-title>
    <ion-card-subtitle>Ative as notificações do nosso aplicativo e concorra á descontos exclusivos em toda linha de roupas do app! </ion-card-subtitle>
  </ion-card-header>

</ion-card>


</ion-content>
